.game-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-title {
  font-size: 50px;
  text-align: center;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  /* margin-bottom: 10px; */
}

.square {
  background: black;
  border: 1px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  color: white;
  line-height: 75px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: black;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-button {
  font: "Montserrat";
  font-size: 14px;
  padding: 1px;
  background-color: black;
  color: white;
  border: none;
  
}

.game-button:hover {
  background-color: white;
  color: black;
}

.game-link {
  padding-top: 0px;
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -4px;
}