.About {
  color: white;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.About-pic {
  height: 400px;
  width: 400px;
  filter: grayscale();
  transition: 0.5s filter ease;
  border-radius: 25px;
}

.About-pic:hover {
  filter: none;
}

.About p {
  width: 400px;
  text-align: center;
}

.About h1 {
  font-size: 2rem;
}

.About-desc {
  margin: auto;
  font-size: 0.9rem;
  width: 350px;
  text-align: center;
}

.About-link {
  margin: 20px;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: -4px;
}
