.Contact {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Contact-pic {
  height: 400px;
  width: 400px;
  filter: grayscale();
  transition: 0.5s filter ease;
}

.Contact-pic:hover {
  filter: none;
}

.Contact-link {
  margin: 20px;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: -4px;
}

.Contact-icons {
  padding-top: 10px;
}

.Contact-github {
  height: 17px;
  width: 17px;
}

.Contact-twitter {
  height: 15px;
  width: 15px;
  margin: 0 0 0 25px;

}

.Contact-pokket {
  height: 15px;
  width: 15px;
  margin: 0 0 0 25px;
}

.Contact-youtube {
  height: 12px;
  width: auto;
  margin: 0 0 2px 25px;
}
