.Home {
  display: flex;
}

.Name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 0 30px;
  letter-spacing: -0.5px;
}

.Container {
  position: absolute;
  bottom: 0px;
  font-size: 7rem;
  font-weight: bold;
  text-align: left;
  line-height: 7rem;
  margin: 0 0 0 0px;
  letter-spacing: -4px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .Left-side {
  width: 50%;
}

.Right-side {
  width: 50%;
  height: 100vh;
  flex-direction: column;
} */

.Home-pic {
  height: 700px;
  width: 700px;
  position: absolute;
  z-index: -1;
  top: 25%;
  left: 55%;
  display: flex;
}

::selection {
  background: white;
}
